In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/googleplaystore.csv")

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.drop(['App','Reviews', 'Installs','Type', 'Genres'], axis=1, inplace=True)

In [5]:
df.head()

,Category,Rating,Size,Price,Content Rating,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,19M,0,Everyone,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,14M,0,Everyone,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,8.7M,0,Everyone,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,25M,0,Teen,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,2.8M,0,Everyone,"June 20, 2018",1.1,4.4 and up

In [6]:
value_counts = df['Category'].value_counts()
print(value_counts)

Category
FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: count, dtype: int64

In [7]:
df = df[df['Category'] != '1.9']
value_counts = df['Category'].value_counts()

In [8]:
category = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, category], axis=1)

         Category  Rating  Size Price Content Rating      Last Updated
0  ART_AND_DESIGN     4.1   19M     0       Everyone   January 7, 2018  \
1  ART_AND_DESIGN     3.9   14M     0       Everyone  January 15, 2018
2  ART_AND_DESIGN     4.7  8.7M     0       Everyone    August 1, 2018
3  ART_AND_DESIGN     4.5   25M     0           Teen      June 8, 2018
4  ART_AND_DESIGN     4.3  2.8M     0       Everyone     June 20, 2018

          Current Ver   Android Ver  Category_ART_AND_DESIGN
0               1.0.0  4.0.3 and up                     True  \
1               2.0.0  4.0.3 and up                     True
2               1.2.4  4.0.3 and up                     True
3  Varies with device    4.2 and up                     True
4                 1.1    4.4 and up                     True

   Category_AUTO_AND_VEHICLES  ...  Category_PERSONALIZATION
0                       False  ...                     False  \
1                       False  ...                     False
2                       False  ...                     False
3                       False  ...                     False
4                       False  ...                     False

   Category_PHOTOGRAPHY  Category_PRODUCTIVITY  Category_SHOPPING
0                 False                  False              False  \
1                 False                  False              False
2                 False                  False              False
3                 False                  False              False
4                 False                  False              False

   Category_SOCIAL  Category_SPORTS  Category_TOOLS
0            False            False           False  \
1            False            False           False
2            False            False           False
3            False            False           False
4            False            False           False

   Category_TRAVEL_AND_LOCAL  Category_VIDEO_PLAYERS  Category_WEATHER
0                      False                   False             False
1                      False                   False             False
2                      False                   False             False
3                      False                   False             False
4                      False                   False             False

[5 rows x 41 columns]

In [28]:
df.drop('Category', axis=1, inplace=True)

print(df.head())

   Rating        Size  Price Last Updated         Current Ver   Android Ver
0     4.1  19000000.0    0.0   2018-01-07               1.0.0  4.0.3 and up  \
1     3.9  14000000.0    0.0   2018-01-15               2.0.0  4.0.3 and up
2     4.7   8700000.0    0.0   2018-08-01               1.2.4  4.0.3 and up
3     4.5  25000000.0    0.0   2018-06-08  Varies with device    4.2 and up
4     4.3   2800000.0    0.0   2018-06-20                 1.1    4.4 and up

   Category_ART_AND_DESIGN  Category_AUTO_AND_VEHICLES  Category_BEAUTY
0                     True                       False            False  \
1                     True                       False            False
2                     True                       False            False
3                     True                       False            False
4                     True                       False            False

   Category_BOOKS_AND_REFERENCE  ...  Category_SPORTS  Category_TOOLS
0                         False  ...            False           False  \
1                         False  ...            False           False
2                         False  ...            False           False
3                         False  ...            False           False
4                         False  ...            False           False

   Category_TRAVEL_AND_LOCAL  Category_VIDEO_PLAYERS  Category_WEATHER
0                      False                   False             False  \
1                      False                   False             False
2                      False                   False             False
3                      False                   False             False
4                      False                   False             False

   Content Rating_Adults only 18+  Content Rating_Everyone
0                           False                     True  \
1                           False                     True
2                           False                     True
3                           False                    False
4                           False                     True

   Content Rating_Everyone 10+  Content Rating_Mature 17+  Content Rating_Teen
0                        False                      False                False
1                        False                      False                False
2                        False                      False                False
3                        False                      False                 True
4                        False                      False                False

[5 rows x 44 columns]

In [9]:
num_missing = df['Rating'].isna().sum()

print("Number of missing values in 'Rating':", num_missing)
df.shape

Number of missing values in 'Rating': 1474

(10840, 41)

In [10]:
df.dropna(subset=['Rating'], inplace=True)
df.shape

(9366, 41)

In [11]:
df['Rating'].value_counts()

Rating
4.4    1109
4.3    1076
4.5    1038
4.2     952
4.6     823
4.1     708
4.0     568
4.7     499
3.9     386
3.8     303
5.0     274
3.7     239
4.8     234
3.6     174
3.5     163
3.4     128
3.3     102
4.9      87
3.0      83
3.1      69
3.2      64
2.9      45
2.8      42
2.7      25
2.6      25
2.5      21
2.3      20
2.4      19
1.0      16
2.2      14
1.9      13
2.0      12
1.7       8
1.8       8
2.1       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: count, dtype: int64

In [12]:
print(df['Size'].value_counts())
num_missing = df['Size'].isna().sum()

print("Number of missing values in 'Size':", num_missing)

Size
Varies with device    1637
14M                    166
12M                    161
11M                    160
15M                    159
                      ...
383k                     1
454k                     1
812k                     1
442k                     1
619k                     1
Name: count, Length: 414, dtype: int64
Number of missing values in 'Size': 0

In [13]:
letters_only = df['Size'].str.extract(r'([A-Za-z]+)')

letter_counts = letters_only[0].value_counts()

print(letter_counts)

0
M         7471
Varies    1637
k          258
Name: count, dtype: int64

In [14]:
def multiply_size(size_str):
    if size_str[-1] == 'M':
        return float(size_str[:-1]) * 1000000
    elif size_str[-1] == 'k':
        return float(size_str[:-1]) * 1000
    else:
        return float('NaN')

df['Size'] = df['Size'].apply(multiply_size)

In [15]:
df['Size']

0        19000000.0
1        14000000.0
2         8700000.0
3        25000000.0
4         2800000.0
            ...
10834     2600000.0
10836    53000000.0
10837     3600000.0
10839           NaN
10840    19000000.0
Name: Size, Length: 9366, dtype: float64

In [16]:
df['Price'] = df['Price'].str.replace('$', '').astype(float)

print(df['Price'].value_counts())
num_missing = df['Price'].isna().sum()

print("Number of missing values in 'Price':", num_missing)

Price
0.00      8719
2.99       114
0.99       107
4.99        70
1.99        59
          ...
1.29         1
299.99       1
379.99       1
37.99        1
1.20         1
Name: count, Length: 73, dtype: int64
Number of missing values in 'Price': 0

In [17]:
print(df['Content Rating'].value_counts())

Content Rating
Everyone           7420
Teen               1084
Mature 17+          461
Everyone 10+        397
Adults only 18+       3
Unrated               1
Name: count, dtype: int64

In [18]:
df = df[df['Content Rating'] != 'Unrated']

In [19]:
content_rating = pd.get_dummies(df['Content Rating'], prefix='Content Rating')

df = pd.concat([df, content_rating], axis=1)

df.drop('Content Rating', axis=1, inplace=True)

In [21]:
df.head(6)

,Category,Rating,Size,Price,Last Updated,Current Ver,Android Ver,Category_ART_AND_DESIGN,Category_AUTO_AND_VEHICLES,Category_BEAUTY,...,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER,Content Rating_Adults only 18+,Content Rating_Everyone,Content Rating_Everyone 10+,Content Rating_Mature 17+,Content Rating_Teen
0,ART_AND_DESIGN,4.1,19000000.0,0.0,"January 7, 2018",1.0.0,4.0.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
1,ART_AND_DESIGN,3.9,14000000.0,0.0,"January 15, 2018",2.0.0,4.0.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,ART_AND_DESIGN,4.7,8700000.0,0.0,"August 1, 2018",1.2.4,4.0.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,ART_AND_DESIGN,4.5,25000000.0,0.0,"June 8, 2018",Varies with device,4.2 and up,True,False,False,...,False,False,False,False,False,False,False,False,False,True
4,ART_AND_DESIGN,4.3,2800000.0,0.0,"June 20, 2018",1.1,4.4 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
5,ART_AND_DESIGN,4.4,5600000.0,0.0,"March 26, 2017",1.0,2.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False

In [22]:
num_missing = df['Last Updated'].isna().sum()

print("Number of missing values in 'Last Updated':", num_missing)

Number of missing values in 'Last Updated': 0

In [23]:
print(df['Last Updated'].value_counts())

Last Updated
August 3, 2018      319
August 2, 2018      284
July 31, 2018       279
August 1, 2018      275
July 30, 2018       199
                   ...
April 17, 2014        1
April 11, 2016        1
October 27, 2015      1
August 31, 2015       1
March 23, 2014        1
Name: count, Length: 1299, dtype: int64

In [24]:
df['Last Updated'] = pd.to_datetime(df['Last Updated'])

In [25]:
print(df['Current Ver'].value_counts())

Current Ver
Varies with device    1415
1.0                    458
1.1                    195
1.2                    126
2.0                    119
                      ...
2.9.10                   1
3.18.5                   1
1.3.A.2.9                1
9.9.1.1910               1
0.3.4                    1
Name: count, Length: 2638, dtype: int64

In [26]:
df.head()

,Category,Rating,Size,Price,Last Updated,Current Ver,Android Ver,Category_ART_AND_DESIGN,Category_AUTO_AND_VEHICLES,Category_BEAUTY,...,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER,Content Rating_Adults only 18+,Content Rating_Everyone,Content Rating_Everyone 10+,Content Rating_Mature 17+,Content Rating_Teen
0,ART_AND_DESIGN,4.1,19000000.0,0.0,2018-01-07,1.0.0,4.0.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
1,ART_AND_DESIGN,3.9,14000000.0,0.0,2018-01-15,2.0.0,4.0.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,ART_AND_DESIGN,4.7,8700000.0,0.0,2018-08-01,1.2.4,4.0.3 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,ART_AND_DESIGN,4.5,25000000.0,0.0,2018-06-08,Varies with device,4.2 and up,True,False,False,...,False,False,False,False,False,False,False,False,False,True
4,ART_AND_DESIGN,4.3,2800000.0,0.0,2018-06-20,1.1,4.4 and up,True,False,False,...,False,False,False,False,False,False,True,False,False,False